################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test_URLS/.vs/
/Test_URLS/obj/
/Test_URLS/bin/

/Test_URLS.urlLogic/.vs/
/Test_URLS.urlLogic/obj/
/Test_URLS.urlLogic/bin/