################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestURLS.ConsoleApp/.vs/
/TestURLS.ConsoleApp/obj/
/TestURLS.ConsoleApp/bin/

/TestURLS.UrlLogic/.vs/
/TestURLS.UrlLogic/obj/
/TestURLS.UrlLogic/bin/

/TestURLS.EntityFramework/.vs/
/TestURLS.EntityFramework/obj/
/TestURLS.EntityFramework/bin/

/TestURLS.ConsoleApp.Tests/bin/
/TestURLS.ConsoleApp.Tests/obj/

/TestURLS.UrlLogic.Tests/bin/
/TestURLS.UrlLogic.Tests/obj/

/TestUrls.BusinessLayer/.vs/
/TestUrls.BusinessLayer/obj/
/TestUrls.BusinessLayer/bin/

/TestUrl.MvcApp/.vs/
/TestUrl.MvcApp/obj/
/TestUrl.MvcApp/bin/

/Models/bin/
/Models/obj/

.vs/
