@using TestUrls.BusinessLogic.BusinessModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<TestDto>

<form method="post" action="~/Test">
    <label>Enter Link :</label>
    <input type="text" name="link" size=50/>
    <input type="submit" value="Test" />
</form>

<p></p>

<table class="countLines">
    <caption>Test Results</caption>
    <thead>
        <tr>
            <th>Count</th>
            <th>Link</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var link in Model)
        {
            <tr>
                <td></td>
                <td>@link.Link</td>
                <td>@link.CreateAt.ToShortDateString()</td>
                <td><a href="~/Test/@link.Id">View Details</a></td>
            </tr>
        }
    </tbody>
</table>