@using TestUrls.TestResultLogic.Models

@model IEnumerable<TestResultModel>

<table class="table table-bordered countLines"> 
    <thead>
        <tr>
            <th>Count</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var link in Model)
        {
            <tr>
                <td></td>
                <td>@link.Link</td>
            </tr>
        }
    </tbody>
</table>