body {
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: lightcyan;
}

div {
    width: 1080px;
    margin: auto;
    
}

table {
    border: 3px solid black;
    border-collapse:collapse;
}

th {
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    text-align: left;
    border: 2px solid black;
    border-collapse: collapse;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.countLines {
    counter-reset: trCount;
    overflow: auto;
    white-space: nowrap;
}

.countLines tr td:first-child:before {
    position: relative;
    counter-increment: trCount;
    content: counter(trCount);
    color: #1d1f21;
} 